<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sashakt">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sashakt">
        <activity
            android:name=".AccountHolder"
            android:exported="false" />
        <activity
            android:name=".CurrentEarnings"
            android:exported="false" />
        <activity
            android:name=".IFSCCode"
            android:exported="false" />
        <activity
            android:name=".AccountNumber"
            android:exported="false" />
        <activity
            android:name=".BranchAndBank"
            android:exported="false" />
        <activity
            android:name=".Translate"
            android:exported="false" />
        <activity
            android:name=".TextToSpeech"
            android:exported="false" />
        <activity
            android:name=".TranslationCodes"
            android:exported="false" />
        <activity
            android:name=".LanguageSelection"
            android:exported="false" />
        <activity
            android:name=".RecordVideo"
            android:exported="false" />
        <activity
            android:name=".SellingInstructions"
            android:exported="false" />
        <activity
            android:name=".TeachingInstructions"
            android:exported="false" />
        <activity
            android:name=".ChooseOneAction"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>